.actual-data {
  padding: 1rem;
}

.actual-data:nth-child(3n+0) div {
  background-color: #6ec7c7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec7c7), to(#5ae288));
  background-image: linear-gradient(#6ec7c7, #5ae288);
}

.actual-data:nth-child(3n+1) div {
  background-color: #ca336d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ca336d), to(#e43636));
  background-image: linear-gradient(#ca336d, #e43636);
}

.actual-data:nth-child(3n+2) div {
  background-color: #5ec95e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5ec95e), to(#bcda37));
  background-image: linear-gradient(#5ec95e, #bcda37);
}

.actual-data .actual-data-panel {
  height: 150px;
  border-radius: .25rem;
  color: #eee;
  padding: 1rem;
}

.actual-data .actual-data-panel .content {
  position: absolute;
  bottom: .5rem;
  right: 1.5rem;
}

.actual-data .actual-data-panel .content .unit {
  font-size: 2em;
}

.actual-data .actual-data-panel .content .value {
  font-size: 3.5em;
}

.actual-data .actual-data-panel label {
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */