.actual-data {
    padding: 1rem;
    &:nth-child(3n+0) div {
        background-color: rgb(110, 199, 199);
        background-image: linear-gradient(rgb(110, 199, 199), rgb(90, 226, 136));
    }
    &:nth-child(3n+1) div {
        background-color: rgb(202, 51, 109);
        background-image: linear-gradient(rgb(202, 51, 109), rgb(228, 54, 54));
    }
    &:nth-child(3n+2) div {
        background-color: rgb(94, 201, 94);
        background-image: linear-gradient(rgb(94, 201, 94), rgb(188, 218, 55));
    }
    .actual-data-panel {
        height: 150px;
        border-radius: .25rem;
        color: #eee;
        padding: 1rem;
        .content {
            position: absolute;
            bottom: .5rem;
            right: 1.5rem;
            .unit {
                font-size: 2em;
            }
            .value {
                font-size: 3.5em;
            }
        }
        label {
            font-size: 1.5em;
        }
    }
}